


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body {
  background: url('./image/birdsview.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
}


body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}


header {
  background: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 10px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.namelogo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-img {
  width: 55px;
  height: 55px;
}

.namelogo span {
  font-size: 24px;
  font-weight: bold;
  color: #ffcc00;
  letter-spacing: 0.5px;
}


.navbar .nav-menu {
  display: flex;
  list-style: none;
  
}

.nav-item {
  margin-left: 40px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: #ffcc00;
  background: rgba(255, 204, 0, 0.1);
}


.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 60px;
}

.home h1 {
  font-size: 60px;
  color: #ffcc00;
  margin-bottom: 10px;
}

.home p {
  font-size: 22px;
}


.about {
  background: rgba(255, 255, 255, 0.1);
  padding: 80px 20px;
  text-align: center;
  border-radius: 15px;
  margin: 40px 20px;
}

.about h2 {
  color: #ffcc00;
  margin-bottom: 20px;
}

.about p {
  max-width: 800px;
  margin: 15px auto;
  line-height: 1.6;
  color: #f2f2f2;
  justify-content: center;
}

.about-img {
  width: 80%;
  max-width: 600px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255,255,255,0.3);
}


.old-houses {
  background: rgba(255, 255, 255, 0.1);
  padding: 80px 20px;
  text-align: center;
  border-radius: 15px;
  margin: 40px 20px;
}

.old-houses h2 {
  color: #ffcc00;
  margin-bottom: 20px;
}

.old-houses p {
  max-width: 800px;
  margin: 15px auto;
  line-height: 1.6;
  color: #f2f2f2;
  justify-content: center;
}

.old-houses img {
  width: 80%;
  max-width: 600px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255,255,255,0.3);
}


.explore {
  text-align: center;
  padding: 60px 20px;
  margin-bottom: 50px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 40px 20px;
  justify-content: center;
}

.explore h2 {
  color: #ffcc00;
  margin-bottom: 30px;
}

.spot {
  margin-bottom: 40px;
}

.spot img {
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(255,255,255,0.3);
}

.spot p {
  max-width: 600px;
  margin: 0 auto;
  color: #f1f1f1;
  line-height: 1.5; 
}


footer {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  padding: 15px 0;
}

@media (max-width :414px) {
  body{
    background-color: antiquewhite;

  }
  .home h1 {
  color: azure;

}
}

@media (max-width: 415px) and (max-width: 428px) {
  body {
    background: url('./image/church.jpg') no-repeat center center fixed;
  }
  .home h1 {
    color: aqua;

  }
}



